@import url('https://fonts.googleapis.com/css2?family= Inter: wght @600 & display=swap');

body{
    background-color: rgb(213, 225, 239);
}

.card{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 550px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    box-shadow: 10px 10px 22px rgba(0, 0, 0, 0.075);
}

.qrcode{
    overflow: hidden;
    border-radius: 10px;
    width: 20em;
    height: 20em;
    justify-content: center;
    align-items: center;
}

.msg{
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.tittle{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin: 10% 10% 10% 5%;
}

.paragrath{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: rgba(95, 95, 95, 0.658);
    margin: 1% 10% 10% 10%;
}